<%= link_to "Create new", new_article_path, class: "btn btn-primary" %>
<table class="table">
  <thead>
    <th> Name</th>
    <th> Description</th>
    <th> Title</th>
    <th> Image Url</th>
  </thead>

  <tbody>
    <% @articles.each do |arcticle| %>
    <tr>
      <td>
        <%= arcticle.name %>
      </td>

      <td>
        <%= arcticle.description %>
      </td>

      <td>
        <%= arcticle.title %>
      </td>

      <td>
        <%= arcticle.image_url %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>